.Phonetic a {
  text-decoration: none;
  padding: 8px 10px;
  font-size: 15px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 15px;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background: #9670f4;
  color: white;
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: bold;
}
